.App {
 
  display: flex;
  justify-content: center;
  align-items: center;
 
}

body{
  background-color: black;

}
.calc-wapper{
background-color: white;
width: 400px;
border-radius: 16px;
}
.row{
  display: flex;
}
.headerrr{
  color: rgb(163, 255, 252);
  padding-right: 6px;
}
.myimg{
  width: 500px;
  height: 600px;
}

.gitlink{
  color: aqua;
}